@page
@model VKR_Kontorin.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1 style="text-align: center" , class="bg-success text-white">О приложении</h1></br>

<p>
    Информационная система «Диспетчер» предназначена<br>
    для обеспечения коммуникации арендодателей и арендаторов строительной техники<br><br>
    Разработано:<br>
    Ярославский государственный технический университет<br>
    Кафедра «Информационные системы и технологии»<br>
    ⠀⠀Выполнил:<br>
    студент группы ДЦИС-47<br>
    Конторин Павел Леонидович<br>
    ⠀⠀Руководитель:<br>
    старший преподаватель кафедры ИСиТ:<br>
    Александрова Екатерина Викторовна<br>
</p>