@page
@model VKR_Kontorin.Pages.CreateConfirmationModel
@{
    ViewData["Title"] = "CreateConfirmation";
}

<h1 style="text-align: center; margin-bottom:0.5em" class="bg-success text-white">Подтверждение регистрации</h1>

<p style="text-align: center">
    Сообщение отправлено. Проверьте, пожалуйста, Вашу электронную почту для подтверждения регистрации.
</p>

@{
    string tlf = "";
}
@foreach (var appuser in Model.AppUsers)
{
    tlf = appuser.UserName;
    foreach (var owner in Model.Owners)
    {
        if (owner.Tlf == appuser.UserName || appuser.PhoneNumberConfirmed == false || appuser.UserName == "0000000000")
        {
            tlf = "";
            break;
        }
    }
    if (tlf != "")
        break;
}
@if (tlf != "")
{
    <div style="display:flex; justify-content:center; align-items:center; height:30vh;">
        <form method="post">
            <p>
                <input name="tlf" value="@tlf" type="hidden" />
            </p>
            <input type="submit" class="btn btn-secondary" value="Ок" />
        </form>
    </div>
}
else
{
    <div style="display:flex; justify-content:center; align-items:center; height:30vh;">
        <a asp-page="/Index" class="btn btn-warning">Ок</a>
    </div>
}


<table class="table table-sm table-bordered">
