@{
    ViewData["Title"] = "LoginConfirmation";
}

<h1 style="text-align: center" , class="bg-success text-white">Подтверждение регистрации</h1></br>

<p>
    Сообщение отправлено. Проверьте, пожалуйста, Вашу электронную почту для подтверждения регистрации.
</p>
<a asp-page="/Index" class="btn btn-success">Ок</a>