@{
    ViewData["Title"] = "О приложении";
}
<h1 class="bg-warning text-white">О приложении</h1>

<p>
    Информационная система "Диспетчер" предназначена<br>
    для обеспечения коммуникации арендодателей и арендаторов строительной техники<br><br>
    Разработано:<br>
    Ярославский государственный технический университет<br>
    Кафедра «Информационные системы и технологии»<br>
    Группа ДЦИС-47<br>
    ⠀⠀Выполнил:<br>
    Конторин Павел Леонидович<br>
    ⠀⠀Проверил:<br>
    Александрова Екатерина Викторовна<br>
</p>