@model string
@{
    ViewData["Title"] = "Forgot Password";
}

<h1 style="text-align:center; margin-bottom:0.5em" class="bg-success text-white">Сброс пароля</h1>
<a asp-page="/Index" class="btn btn-secondary">Назад</a>
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group" style="margin-bottom:1em">
        <label>Email</label>
        <input name="email" class="form-control" value="333196@mail.ru"/>
    </div>
    <button class="btn btn-success" type="submit">Согласен</button>
</form>