@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1 style="text-align: center; margin-bottom:0.5em" class="bg-success text-white">Подтверждение переустановки пароля</h1>

<p style="text-align: center">
    Ваш пароль переустановлен.
</p>

<div style="display:flex; justify-content:center; align-items:center; height:30vh;">
    <a asp-page="/Index" class="btn btn-warning">Ок</a>
</div>